<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Member</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <%- include("header.ejs")%>
    <div class="members">
        <h1>Team Members</h1>
        <div class="team_cart">
            <% team.forEach((el) =>{ %>
                    <div>
                        <img src= "<%= el.img %>"" alt="member_img">
                    </div>
            <% }) %>
        </div>
    </div>
    <!-- <% team.forEach((el) =>{ %>
            <li> <%= el.img %></li>    
            <li> <%= el.name %></li>    
            <li> <%= el.designation %></li>    
            <li> <%= el.ex %></li>    
    <% }) %> -->
</body>
</html>